/* ================================= 
  Flexbox
==================================== */
.container { 
  overflow: hidden;
}

.item{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: inherit;
}

.item-1{
  background-image: url('../img/pic1edited.png'); 
}

.item-2{
  background-image: url('../img/pic2.jpg');
}

.item-3{
  background-image: url('../img/pic3.jpg');
}
.item-4{
  background-image: url('../img/pic4.jpg');
}

.expand-item{}