/* ================================= 
  Flexbox
==================================== */
/*
center-center div
.container {
  justify-content: center;
  align-items: center;
}
*/
.container {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  align-items: center;
}

.item{
  flex: 1 200px;
  align-self: stretch;
}

.item-1{
  align-self: flex-start;
}